<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Sobre Nosotros </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Shorcut Icon -->
    <link rel="shortcut icon" href="https://img.icons8.com/ios-filled/50/x.png" type="image/x-icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>


<!-- Topbar End -->
       <!-- Navbar Start -->
       <div class="container-fluid sticky-top bg-dark bg-light-radial shadow-sm px-5 pe-lg-0">
        <nav class="navbar navbar-expand-lg bg-dark bg-light-radial navbar-dark py-3 py-lg-0">
            <a href="/" class="navbar-brand">
                <h1 class="m-0 display-4 text-uppercase text-white custom-class"><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/x.png" alt="x"/> HotCoffee</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link active">Inicio </a>
                    <a href="/about_client" class="nav-item nav-link">Sobre Nosotros</a>
                    <a href="/login" class="nav-item nav-link bg-primary text-white px-5 ms-3 d-none d-lg-block"> Iniciar Seccion como administrador <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase text-white mb-3">Sobre Nosotros</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a href="">Inicio</a></h6>
            <h6 class="text-white m-0 px-3">/</h6>
            <h6 class="text-uppercase text-white m-0">Sobre Nosotros </h6>
        </div>
    </div>
    <!-- Page Header Start -->


     <!-- About Start -->
     <div class="container-fluid py-6 px-5 bg-dark">
        <div class="row g-5">
            <div class="col-lg-7">
                <h1 class="display-5 text-uppercase mb-4 text-white">EXPERIENCIA <span class="text-primary">INIGUALABLE </span>EN CAFÉS DE PRIMERA </h1>
                <h4 class="text-uppercase mb-3 text-body">La mejor calidad y confiablidad para tus productos </h4>
                <p>Descubre el placer del café con nosotros. Somos líderes en ofrecerte la mejor calidad y confiabilidad en productos relacionados con el café. ¿Estás buscando la excelencia en tus momentos de café? ¡No busques más! En nuestra cafetería, encontrarás una amplia variedad de cafés de alta calidad que te ayudarán a satisfacer tus deseos cafeteros.</p>
                <div class="row gx-5 py-2">
                    <div class="col-sm-6 mb-2">
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Ambiente Acogedor</p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Merjor sabor para tu paladar</p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Tenemos variedades</p>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Cafés Profesionales </p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Calidad Probada</p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Enfoque Apasionado</p>
                    </div>
                </div>
                <p class="mb-4">Nuestro menú incluye desde los cafés básicos hasta opciones especializadas para aquellos que buscan una experiencia más única. Contamos con granos de café de marcas reconocidas, asegurando el sabor y la frescura en cada taza.</p>
                <img src="/img/signature.jpg" alt="">
            </div>
            <div class="col-lg-5 pb-5" style="min-height: 400px;">
                <div class="position-relative bg-dark-radial h-100 ms-5">
                    <img class="position-absolute w-100 h-100 mt-5 ms-n5" src="/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


  <!-- Appointment Start -->
  <div class="container-fluid py-6 px-5 bg-dark">
    <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="mb-4">
                <h1 class="display-5 text-uppercase mb-4 text-light">Solicita una <span class="text-primary">Llamada</span></h1>
            </div>
            <p class="mb-5">Al solicitar una consulta, podrás explorar tus preferencias cafeteras, hacer preguntas y recibir recomendaciones personalizadas. Aprovecha esta oportunidad para obtener asesoramiento de nuestros baristas expertos y comenzar a convertir tus momentos de café en una experiencia inigualable. No importa si eres un aficionado o un conocedor, estamos aquí para guiarte. Nuestra pasión por el café y nuestro compromiso con la satisfacción del cliente nos destacan. ¡No esperes más y solicita una consulta en nuestra cafetería ahora mismo! Recuerda que nuestros servicios están diseñados tanto para amantes del café casero como para profesionales, y nos enorgullece ofrecer opciones adaptadas a cada gusto. Sea cual sea tu preferencia, nuestro equipo está listo para brindarte el apoyo necesario durante tu búsqueda del café perfecto.</p>
            
        </div>
        <div class="col-lg-8">
            <div class="bg-light text-center p-5">
                <form>
                    <div class="row g-3">
                        <div class="col-12 col-sm-6">
                            <input type="text" class="form-control border-0" placeholder="Tu nombre" style="height: 55px;">
                        </div>
                        <div class="col-12 col-sm-6">
                            <input type="email" class="form-control border-0" placeholder="Tu Correo" style="height: 55px;">
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="date" id="date" data-target-input="nearest">
                                <input type="text"
                                    class="form-control border-0 datetimepicker-input"
                                    placeholder="Fecha de la Llamada" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="time" id="time" data-target-input="nearest">
                                <input type="text"
                                    class="form-control border-0 datetimepicker-input"
                                    placeholder="Fecha de la Llamada" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
                            </div>
                        </div>
                        <div class="col-12">
                            <textarea class="form-control border-0" rows="5" placeholder="Mensaje"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Enviar Solicitud</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->



    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>